In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
locations = pd.read_csv("locations.csv", sep=',', encoding = "utf-8")
locations

,neighborhood,title,price,bedrooms,pid,longitude,date,subregion,link,latitude,sqft
0,(bayview),Take A TOUR ON OUR ONE FURNISHED BEDROOM TODAY,$950,/ 1br -,4076905111,-122.396965,Sep 18 2013,SF,/sfc/apa/4076905111.html,37.761216,/ 1br -
1,(bayview),Only walking distance to major shopping centers.,$950,/ 1br -,4076901755,-122.396793,Sep 18 2013,SF,/sfc/apa/4076901755.html,37.761080,/ 1br -
2,(bayview),"furnished - 1 Bedroom(s), 1 Bath(s), Air Condi...",$950,/ 1br -,4076899340,-122.397100,Sep 18 2013,SF,/sfc/apa/4076899340.html,37.762100,/ 1br -
3,(financial district),"*NEW* Beautiful, Upscale Condo in Historic Jac...",$3300,/ 1br - 830ft² -,4067393707,-122.399747,Sep 18 2013,SF,/sfc/apa/4067393707.html,37.798108,/ 1br - 830ft² -
4,(visitacion valley),楼上全层3房,$2000,/ 3br - 1280ft² -,4076901071,NaN,Sep 18 2013,SF,/sfc/apa/4076901071.html,NaN,/ 3br - 1280ft² -
...,...,...,...,...,...,...,...,...,...,...,...
4995,(mountain view),2BA LG Great Nbrhood/Granite Ctrs/Streams/Pool...,$2795,/ 2br - 940ft² -,4071933255,NaN,Sep 16 2013,Peninsula,/pen/apa/4071933255.html,NaN,/ 2br - 940ft² -
4996,(san mateo),2 Bathroom 1 Bathroom Apartment Downtown San M...,$2600,/ 2br - 955ft² -,4071969051,-122.325998,Sep 16 2013,Peninsula,/pen/apa/4071969051.html,37.560763,/ 2br - 955ft² -
4997,(woodside),"Updated 2 BR+Den, House in Woodside for Lease",$4000,/ 2br -,4072004661,-122.274837,Sep 16 2013,Peninsula,/pen/apa/4072004661.html,37.454546,/ 2br -
4998,(foster city),Nobody above or below in this quiet Town home ...,$2395,/ 2br - 1020ft² -,4071994817,-122.261543,Sep 16 2013,Peninsula,/pen/apa/4071994817.html,37.555698,/ 2br - 1020ft² -
4999,(palo alto),New & bright 2bdrm 2bath apartment with huge p...,$3300,/ 2br - 1100ft² -,4071993130,-122.148076,Sep 16 2013,Peninsula,/pen/apa/4071993130.html,37.433591,/ 2br - 1100ft² -

In [3]:
def clean_bedrooms(df):
    df['bedrooms']=df['bedrooms'].str.extract(r'(\d+)')
    return df
clean_bedrooms(locations)

,neighborhood,title,price,bedrooms,pid,longitude,date,subregion,link,latitude,sqft
0,(bayview),Take A TOUR ON OUR ONE FURNISHED BEDROOM TODAY,$950,1,4076905111,-122.396965,Sep 18 2013,SF,/sfc/apa/4076905111.html,37.761216,/ 1br -
1,(bayview),Only walking distance to major shopping centers.,$950,1,4076901755,-122.396793,Sep 18 2013,SF,/sfc/apa/4076901755.html,37.761080,/ 1br -
2,(bayview),"furnished - 1 Bedroom(s), 1 Bath(s), Air Condi...",$950,1,4076899340,-122.397100,Sep 18 2013,SF,/sfc/apa/4076899340.html,37.762100,/ 1br -
3,(financial district),"*NEW* Beautiful, Upscale Condo in Historic Jac...",$3300,1,4067393707,-122.399747,Sep 18 2013,SF,/sfc/apa/4067393707.html,37.798108,/ 1br - 830ft² -
4,(visitacion valley),楼上全层3房,$2000,3,4076901071,NaN,Sep 18 2013,SF,/sfc/apa/4076901071.html,NaN,/ 3br - 1280ft² -
...,...,...,...,...,...,...,...,...,...,...,...
4995,(mountain view),2BA LG Great Nbrhood/Granite Ctrs/Streams/Pool...,$2795,2,4071933255,NaN,Sep 16 2013,Peninsula,/pen/apa/4071933255.html,NaN,/ 2br - 940ft² -
4996,(san mateo),2 Bathroom 1 Bathroom Apartment Downtown San M...,$2600,2,4071969051,-122.325998,Sep 16 2013,Peninsula,/pen/apa/4071969051.html,37.560763,/ 2br - 955ft² -
4997,(woodside),"Updated 2 BR+Den, House in Woodside for Lease",$4000,2,4072004661,-122.274837,Sep 16 2013,Peninsula,/pen/apa/4072004661.html,37.454546,/ 2br -
4998,(foster city),Nobody above or below in this quiet Town home ...,$2395,2,4071994817,-122.261543,Sep 16 2013,Peninsula,/pen/apa/4071994817.html,37.555698,/ 2br - 1020ft² -
4999,(palo alto),New & bright 2bdrm 2bath apartment with huge p...,$3300,2,4071993130,-122.148076,Sep 16 2013,Peninsula,/pen/apa/4071993130.html,37.433591,/ 2br - 1100ft² -

In [4]:
def clean_surface(df, column):
   df[column] = df[column].str.findall(("\d+")).str[-1]
   df[column].fillna(0,inplace=True)
   df[column] = df[column].astype(int)
   df[column] = df[column].apply(lambda x :x if x>100 else None)
   return df[column]

locations["sqft"]=clean_surface(locations, "sqft")
locations

,neighborhood,title,price,bedrooms,pid,longitude,date,subregion,link,latitude,sqft
0,(bayview),Take A TOUR ON OUR ONE FURNISHED BEDROOM TODAY,$950,1,4076905111,-122.396965,Sep 18 2013,SF,/sfc/apa/4076905111.html,37.761216,NaN
1,(bayview),Only walking distance to major shopping centers.,$950,1,4076901755,-122.396793,Sep 18 2013,SF,/sfc/apa/4076901755.html,37.761080,NaN
2,(bayview),"furnished - 1 Bedroom(s), 1 Bath(s), Air Condi...",$950,1,4076899340,-122.397100,Sep 18 2013,SF,/sfc/apa/4076899340.html,37.762100,NaN
3,(financial district),"*NEW* Beautiful, Upscale Condo in Historic Jac...",$3300,1,4067393707,-122.399747,Sep 18 2013,SF,/sfc/apa/4067393707.html,37.798108,830.0
4,(visitacion valley),楼上全层3房,$2000,3,4076901071,NaN,Sep 18 2013,SF,/sfc/apa/4076901071.html,NaN,1280.0
...,...,...,...,...,...,...,...,...,...,...,...
4995,(mountain view),2BA LG Great Nbrhood/Granite Ctrs/Streams/Pool...,$2795,2,4071933255,NaN,Sep 16 2013,Peninsula,/pen/apa/4071933255.html,NaN,940.0
4996,(san mateo),2 Bathroom 1 Bathroom Apartment Downtown San M...,$2600,2,4071969051,-122.325998,Sep 16 2013,Peninsula,/pen/apa/4071969051.html,37.560763,955.0
4997,(woodside),"Updated 2 BR+Den, House in Woodside for Lease",$4000,2,4072004661,-122.274837,Sep 16 2013,Peninsula,/pen/apa/4072004661.html,37.454546,NaN
4998,(foster city),Nobody above or below in this quiet Town home ...,$2395,2,4071994817,-122.261543,Sep 16 2013,Peninsula,/pen/apa/4071994817.html,37.555698,1020.0
4999,(palo alto),New & bright 2bdrm 2bath apartment with huge p...,$3300,2,4071993130,-122.148076,Sep 16 2013,Peninsula,/pen/apa/4071993130.html,37.433591,1100.0

In [5]:
locations['city'] = pd.Series(dtype='str')
locations

,neighborhood,title,price,bedrooms,pid,longitude,date,subregion,link,latitude,sqft,city
0,(bayview),Take A TOUR ON OUR ONE FURNISHED BEDROOM TODAY,$950,1,4076905111,-122.396965,Sep 18 2013,SF,/sfc/apa/4076905111.html,37.761216,NaN,NaN
1,(bayview),Only walking distance to major shopping centers.,$950,1,4076901755,-122.396793,Sep 18 2013,SF,/sfc/apa/4076901755.html,37.761080,NaN,NaN
2,(bayview),"furnished - 1 Bedroom(s), 1 Bath(s), Air Condi...",$950,1,4076899340,-122.397100,Sep 18 2013,SF,/sfc/apa/4076899340.html,37.762100,NaN,NaN
3,(financial district),"*NEW* Beautiful, Upscale Condo in Historic Jac...",$3300,1,4067393707,-122.399747,Sep 18 2013,SF,/sfc/apa/4067393707.html,37.798108,830.0,NaN
4,(visitacion valley),楼上全层3房,$2000,3,4076901071,NaN,Sep 18 2013,SF,/sfc/apa/4076901071.html,NaN,1280.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,(mountain view),2BA LG Great Nbrhood/Granite Ctrs/Streams/Pool...,$2795,2,4071933255,NaN,Sep 16 2013,Peninsula,/pen/apa/4071933255.html,NaN,940.0,NaN
4996,(san mateo),2 Bathroom 1 Bathroom Apartment Downtown San M...,$2600,2,4071969051,-122.325998,Sep 16 2013,Peninsula,/pen/apa/4071969051.html,37.560763,955.0,NaN
4997,(woodside),"Updated 2 BR+Den, House in Woodside for Lease",$4000,2,4072004661,-122.274837,Sep 16 2013,Peninsula,/pen/apa/4072004661.html,37.454546,NaN,NaN
4998,(foster city),Nobody above or below in this quiet Town home ...,$2395,2,4071994817,-122.261543,Sep 16 2013,Peninsula,/pen/apa/4071994817.html,37.555698,1020.0,NaN
4999,(palo alto),New & bright 2bdrm 2bath apartment with huge p...,$3300,2,4071993130,-122.148076,Sep 16 2013,Peninsula,/pen/apa/4071993130.html,37.433591,1100.0,NaN

In [6]:
mylist=['Paris','Lyon','Dijon','Lille','Marseille','Strasbourg']
locations['city'] = np.resize(mylist,len(locations))
locations

,neighborhood,title,price,bedrooms,pid,longitude,date,subregion,link,latitude,sqft,city
0,(bayview),Take A TOUR ON OUR ONE FURNISHED BEDROOM TODAY,$950,1,4076905111,-122.396965,Sep 18 2013,SF,/sfc/apa/4076905111.html,37.761216,NaN,Paris
1,(bayview),Only walking distance to major shopping centers.,$950,1,4076901755,-122.396793,Sep 18 2013,SF,/sfc/apa/4076901755.html,37.761080,NaN,Lyon
2,(bayview),"furnished - 1 Bedroom(s), 1 Bath(s), Air Condi...",$950,1,4076899340,-122.397100,Sep 18 2013,SF,/sfc/apa/4076899340.html,37.762100,NaN,Dijon
3,(financial district),"*NEW* Beautiful, Upscale Condo in Historic Jac...",$3300,1,4067393707,-122.399747,Sep 18 2013,SF,/sfc/apa/4067393707.html,37.798108,830.0,Lille
4,(visitacion valley),楼上全层3房,$2000,3,4076901071,NaN,Sep 18 2013,SF,/sfc/apa/4076901071.html,NaN,1280.0,Marseille
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,(mountain view),2BA LG Great Nbrhood/Granite Ctrs/Streams/Pool...,$2795,2,4071933255,NaN,Sep 16 2013,Peninsula,/pen/apa/4071933255.html,NaN,940.0,Lille
4996,(san mateo),2 Bathroom 1 Bathroom Apartment Downtown San M...,$2600,2,4071969051,-122.325998,Sep 16 2013,Peninsula,/pen/apa/4071969051.html,37.560763,955.0,Marseille
4997,(woodside),"Updated 2 BR+Den, House in Woodside for Lease",$4000,2,4072004661,-122.274837,Sep 16 2013,Peninsula,/pen/apa/4072004661.html,37.454546,NaN,Strasbourg
4998,(foster city),Nobody above or below in this quiet Town home ...,$2395,2,4071994817,-122.261543,Sep 16 2013,Peninsula,/pen/apa/4071994817.html,37.555698,1020.0,Paris
4999,(palo alto),New & bright 2bdrm 2bath apartment with huge p...,$3300,2,4071993130,-122.148076,Sep 16 2013,Peninsula,/pen/apa/4071993130.html,37.433591,1100.0,Lyon

In [7]:
del locations ["neighborhood"]
del locations['title']
del locations['pid']
del locations['date']
del locations['subregion']

In [8]:
locations

,price,bedrooms,longitude,link,latitude,sqft,city
0,$950,1,-122.396965,/sfc/apa/4076905111.html,37.761216,NaN,Paris
1,$950,1,-122.396793,/sfc/apa/4076901755.html,37.761080,NaN,Lyon
2,$950,1,-122.397100,/sfc/apa/4076899340.html,37.762100,NaN,Dijon
3,$3300,1,-122.399747,/sfc/apa/4067393707.html,37.798108,830.0,Lille
4,$2000,3,NaN,/sfc/apa/4076901071.html,NaN,1280.0,Marseille
...,...,...,...,...,...,...,...
4995,$2795,2,NaN,/pen/apa/4071933255.html,NaN,940.0,Lille
4996,$2600,2,-122.325998,/pen/apa/4071969051.html,37.560763,955.0,Marseille
4997,$4000,2,-122.274837,/pen/apa/4072004661.html,37.454546,NaN,Strasbourg
4998,$2395,2,-122.261543,/pen/apa/4071994817.html,37.555698,1020.0,Paris
4999,$3300,2,-122.148076,/pen/apa/4071993130.html,37.433591,1100.0,Lyon

In [9]:
Months=['Sept','Oct','Nov','Dec','Jan','Fev','Mars','Avril','Juin','Juillet','Aout',]
locations['month'] = np.resize(Months,len(locations))
Years=['2022','2023']
locations['year'] = np.resize(Years,len(locations))
locations

,price,bedrooms,longitude,link,latitude,sqft,city,month,year
0,$950,1,-122.396965,/sfc/apa/4076905111.html,37.761216,NaN,Paris,Sept,2022
1,$950,1,-122.396793,/sfc/apa/4076901755.html,37.761080,NaN,Lyon,Oct,2023
2,$950,1,-122.397100,/sfc/apa/4076899340.html,37.762100,NaN,Dijon,Nov,2022
3,$3300,1,-122.399747,/sfc/apa/4067393707.html,37.798108,830.0,Lille,Dec,2023
4,$2000,3,NaN,/sfc/apa/4076901071.html,NaN,1280.0,Marseille,Jan,2022
...,...,...,...,...,...,...,...,...,...
4995,$2795,2,NaN,/pen/apa/4071933255.html,NaN,940.0,Lille,Oct,2023
4996,$2600,2,-122.325998,/pen/apa/4071969051.html,37.560763,955.0,Marseille,Nov,2022
4997,$4000,2,-122.274837,/pen/apa/4072004661.html,37.454546,NaN,Strasbourg,Dec,2023
4998,$2395,2,-122.261543,/pen/apa/4071994817.html,37.555698,1020.0,Paris,Jan,2022
4999,$3300,2,-122.148076,/pen/apa/4071993130.html,37.433591,1100.0,Lyon,Fev,2023

In [10]:
#import seaborn as sns
#import matplotlib.pyplot as plt

In [13]:
locations['price']=locations['price'].str.replace("$","",regex=False)
locations
locations['price']=locations['price'].astype(float)
locations

#sns.boxplot(x=locations['city'], y=locations['price'])

,price,bedrooms,longitude,link,latitude,sqft,city,month,year
0,950.0,1,-122.396965,/sfc/apa/4076905111.html,37.761216,NaN,Paris,Sept,2022
1,950.0,1,-122.396793,/sfc/apa/4076901755.html,37.761080,NaN,Lyon,Oct,2023
2,950.0,1,-122.397100,/sfc/apa/4076899340.html,37.762100,NaN,Dijon,Nov,2022
3,3300.0,1,-122.399747,/sfc/apa/4067393707.html,37.798108,830.0,Lille,Dec,2023
4,2000.0,3,NaN,/sfc/apa/4076901071.html,NaN,1280.0,Marseille,Jan,2022
...,...,...,...,...,...,...,...,...,...
4995,2795.0,2,NaN,/pen/apa/4071933255.html,NaN,940.0,Lille,Oct,2023
4996,2600.0,2,-122.325998,/pen/apa/4071969051.html,37.560763,955.0,Marseille,Nov,2022
4997,4000.0,2,-122.274837,/pen/apa/4072004661.html,37.454546,NaN,Strasbourg,Dec,2023
4998,2395.0,2,-122.261543,/pen/apa/4071994817.html,37.555698,1020.0,Paris,Jan,2022
4999,3300.0,2,-122.148076,/pen/apa/4071993130.html,37.433591,1100.0,Lyon,Fev,2023

In [15]:
locations.to_csv('locationsTraited.csv', index=False)